{
  "presets": [ "@wordpress/default" ],
  "plugins": [
        [ "transform-react-jsx", {
            scopeVariable: 'createElement',
			scopeVariableFrag: 'Fragment',
			source: '@wordpress/element',
			isDefault: false,
        } ]
    ]
}
